<div class="card">
  <div class="card-header bg-info text-white">
      <h4><%= post.title %></h4>
      <% post.tags.each do |tag| %>
        <span class="badge badge-light"><%= tag.name %></span>
      <% end%>
  </div>
  <div>
    <%= image_tag("#{post.image}", {:size =>'300x300', :alt => ""}) %>
  </div>
  <div>
    <%if post.video.present?%>
      <%= video_tag post.video_url.to_s,loop: true, controls: true, width: 550, id: "mv"%>
    <% end%>
  </div>
  <div class="card-body">
      <p class="card-text"><%= simple_format(post.content) %></p>
  </div>
  <div class="card-footer">
      <p class="text-right font-weight-bold mr-10"><%= post.name %></p>
  </div>

</div>
