<div id='index-screen'>
<div class="d-flex align-items-center">
    <h1>投稿一覧</h1>
    <div class="ml-auto posts_button">
      <%= form_tag posts_path, method: :get, class: 'posts__searchForm' do %>
            <%= select_tag :tag_id,
                           options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                           {
                             prompt: 'タグで絞り込み',
                             class: 'form-control posts__select',
                             onchange: 'submit(this.form);'
                             }
             %>
     <% end %>
        <%=  link_to "投稿", new_post_path, class: "btn btn-outline-info"%>
    </div>
</div>
<%= render 'shared/error_messages'%>

<% @posts.each do |post|%>
  <article class="post-item">
        <div class="media-left">

              <%= image_tag "#{post.user&.image}", class: "media-object", alt: "avatar", size: "100x100"%>
              <!-- <img src="img/ph_avatar.png" alt="avatar" class="media-object"> -->
        </div>
        <div class="media-body">
          <%= content_tag(:h4, post.name, class: "media-heading")%>
          <%= content_tag(:p, post.created_at.to_s(:default) ,class: "updated")%>
        </div>
        <div class="post-item-body">
         <% if post.image.present? %>
             <div class="post-item-image">
               <%= image_tag "#{post.image}", class: 'media-object' ,size: "250x150"%>
           </div>
        <% end%>
        <% if post.video.present?%>
          <div class="post-item-video">
            <%= video_tag post.video_url.to_s,loop: true, controls: true, id: "mv"%>
          </div>
        <% end%>
          <%= content_tag(:h3, post.title)%>
          <%= content_tag(:p, post.content)%>
          <%= link_to '詳細', "posts/#{post.id}", class: 'btn btn-outline-info' %>
          <%= link_to "削除", "posts/#{post.id}", class: "btn btn-outline-info", method: :delete, data: {confirm: "投稿記事を削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除確認" } %>
          <div class="border-bottom" style="padding:10px;"> </div>
        </div>
</article>
<% end%>
<%= paginate @posts%>
</div>
