
<div id='index-screen'>
  <div class="d-flex align-items-center">
      <h1>ユーザー登録</h1>
    </div>
    <% if flash[:notice]%>
    <%= content_tag(:div, flash[:notice], class: "alert alert-primary") %>
    <% end%>
    <table>
      <tr>
        <th>氏名</th>
        <th>メール</th>
        <th>管理者権限</th>
        <th>詳細</th>
        <th>削除</th>
      </tr>
        <% @users.each do |user|%>
         <tr>
           <td><%= user.name%></td>
           <td><%= user.email%></td>
           <td>
                <% if user.admin?%>
                あり
                <% else%>
                無し
                <%end%>
          </td>
          <td><%= link_to '詳細', admin_user_path(user.id), class: 'btn btn-outline-info'%></td>
          <td><%= link_to '削除', admin_user_path(user.id), method: :delete ,class: 'btn btn-outline-info', data: {confirm: 'ユーザーを削除しますか？', cancel: 'キャンセル', commit: '削除する', title: '削除確認'}%></td>
        </tr>
        <%end %>

        </table>
</div>
